#container {
  background-image: url(http://bestanimations.com/Earth&Space/Earth/earthglobeanimation/globe-earth-animation-31.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
    
.country {
  display: inline-block;
  font-family: 'Limelight', cursive;
  font-size: 6em;
  margin-bottom: 70px;
  margin-top: 50px;
  text-align: center;
  text-shadow: -1.5px 0 white, 0 1.5px black, 1.5px 0 black, 0 -1.5px white;
  width: 50%; 
}
    
.region  {
  color: brown;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  text-decoration: underline;
  text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}
    
.city {
  color: white;
  display: inline-block;
  font-size: 20px;
  margin-bottom: 50px;
  padding: 25px;
}
    